.counter {
  display: inline-flex;
  align-items: center;
  background-color: var(--white);
}

.btn {
  color: var(--darkPrimary);
  padding: 12px 15px;
  border: 1px solid var(--white);
  transition: border-color ease .3s;

  &:focus {
    border-color: var(--darkPrimary);
    outline: none;
  }
}

.input {
  background: transparent;
  text-align: center;
  width: 50px;
  padding: 12px 0;
  border: 1px solid var(--white);
  transition: border-color ease .3s;

  &:focus {
    border-color: var(--darkPrimary);
    outline: none;
  }
}