@import "../../assets/scss/mixins";
@import "../../assets/scss/vars";
@import "../../assets/scss/common";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 25px;
  padding: 25px;
  position: relative;
  z-index: 2;
}

.logo {
  font-size: 24px;
  font-family: $secondFont;
  font-weight: 400;
  line-height: 30px;
  color: #22202E;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
}

.menu {

}

.menuList {
  display: flex;
  gap: 45px;
  padding: 0 15px;
}

.mobileMenu {
  @media (max-width: 620px) {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    flex-direction: column;
    background-color: red;
    padding: 25px 15px 50px;
    gap: 25px;
    font-size: 22px;
    background: var(--primary);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;


    .menuLink {
      color: var(--white);
    }
  }

}

.mobileMenuActive {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: visibility .3s ease-in 0s, opacity ease .3s;
}

.menuItem {

}

.menuLink {
  color: #726E8D;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: border-color ease .3s;

  &:hover {
    border-color: #726E8D;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search, .cart, .user {

  svg {
    transition: fill ease .3s;
  }

  &:hover svg {
    fill: var(--borderDark);
  }
}


.categories {
  padding: 20px 15px;
  background-color: var(--lightGrey);
  white-space: nowrap;
  overflow-x: auto;
}

.categoriesWrapper {
  display: flex;
  align-items: center;
  max-width: max-content;
  padding: 0;
  gap: 45px;
}

.menuBtn {
  line-height: 0;
  width: 30px;
  height: 30px;

  @media (min-width: 620px) {
    display: none;
  }
}