@import "../../assets/scss/vars";
@import "../../assets/scss/mixins";
@import "../../assets/scss/common";

.aside {
  padding: 15px 0;
  position: relative;

  @media (max-width: $mobile) {
    padding-top: 0;
  }
}

.block {
  position: relative;
  
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.blockTitle {
  @extend %h5;
  margin-bottom: 20px;

  @media (max-width: $mobile) {
    margin-bottom: 10px
  }
}

.checkbox {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.mobileBtn {

  @media (min-width: $mobile) {
    display: none;
  }
}

.wrapper {
  @media (max-width: $mobile) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    padding-top: 13px;
    padding-bottom: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity ease .3s;

    &::before {
      content: "";
      left: -25px;
      right: -25px;
      height: 100%;
      background-color: #fff;
      position: absolute;
      box-shadow: 0 20px 17px rgba(0, 0, 0, 0.11);
    }

  }


}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 15px;
  padding: 10px;
  display: flex;
  background: var(--lightGrey);
  align-items: center;
  justify-content: center;

  @media (min-width: $mobile) {
    display: none;
  }
}
