.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1330px;
  padding: 0 25px;
  margin: 0 auto;
}
