@import "./assets/scss/mixins.scss";
@import "./assets/scss/vars.scss";
@import "./assets/scss/common.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1330px;
  padding: 0 25px;
  margin: 0 auto;
}

.productListings {
  display: grid;
  grid-template-columns: 305px 1fr;
  gap: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  @media (max-width: $pc) {
    grid-template-columns: 200px 1fr;
  }
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    padding-top: 15px;
  }
}

