@import "./assets/scss/mixins.scss";
@import "./assets/scss/vars.scss";
@import "./assets/scss/common.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1330px;
  padding: 0 25px;
  margin: 0 auto;
}

.productListings {
  display: grid;
  grid-template-columns: 305px 1fr;
  gap: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  @media (max-width: $pc) {
    grid-template-columns: 200px 1fr;
  }
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    padding-top: 15px;
  }
}

.commerceEditor{

  h1{
    font-size: 24px;
  }

  h2{
    font-size: 22px;
  }

  h3{
    font-size: 18px;
  }

  ul{
    padding-left: 18px;
  }

  ul li{
    list-style: initial;
  }
}


.swiper-slide{
  height: unset !important;
}


.search{
  padding: 15px 0;
}

.searchTitle{
  @extend %h2;


  &:not(:last-child){
    margin-bottom: 15px;
  }
}


.searchInput{
  background-color: var(--lightGrey);
  color: var(--darkPrimary);
  width: 100%;
  border: 2px solid var(--darkPrimary);
  font-size: 18px;

  &::placeholder{
    color: var(--darkPrimary);
  }
  
}


.LazyLoad {
	opacity: 0;
	transition: opacity 1s ease-in-out;
  }
  
  .is-visible {
	opacity: 1;
  }

