.textInput{
  display: flex;
  
  @media (max-width: 380px) {
    flex-direction: column;
    gap: 15px;
  }
}

.input {
  flex: 1 1 auto;
	min-height: 60px;
	padding: 17px 32px;
  background: rgba(255, 255, 255, 0.15);

	&::placeholder {
		color: var(--white);
	}
  
}


.light{
	background-color: var(--lightGrey);
  
	&::placeholder{
	  color: var(--darkPrimary);
  
	  opacity: 0.2;
	}
  }


.btn{
  @media (max-width: 420px) {
    padding: 16px;
  }
}
