@import "../../assets/scss/vars";
@import "../../assets/scss/mixins";
@import "../../assets/scss/common";


.benefits {
  padding: 60px 0;

  @media (max-width: $mobile) {
    padding: 0 0 60px;
  }
}

.title {
  @extend %h3;
  margin-bottom: 50px;

  @media (min-width: $mobile) {
    text-align: center;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  column-gap: 50px;
  row-gap: 35px;
}

.item {

}

.itemIcon {
  margin-bottom: 15px;
}

.itemTitle {
  @extend %h4;
  margin-bottom: 8px;

}

.iconText {

}